<div class="container mt-1">
    <button id="button_saveModal" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#saveModal">
        Создание договора
    </button>
</div>
<div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="saveModalLabel">Создание договора</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" th:action="@{/agreement}" th:method="POST">
                    <input type="hidden" name="id" id="id">
                    <legend>Создание договора</legend>
                    <div class="form-group mb-3">
                        <label for="number" class="form-label">Номер договора:</label>
                        <input type="text" class="form-control" id="number" name="number">
                        <div id="numberHelp" class="form-text">Поле для ввода номера договора.</div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="date" class="form-label">Дата заключения договора:</label>
                        <input type="date" class="form-control" id="date" name="date">
                        <div id="dateHelp" class="form-text">Поле для ввода даты заключения договора.</div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="partnerTypeId" class="form-label">Тип сотрудничества:</label>
                        <select class="form-select" aria-label="PartnerType" id="partnerTypeId" name="partnerTypeId" required>
                            <option th:each="partnerType : ${partnerTypes}" th:value="${partnerType.id}" th:text="${partnerType.name}"></option>
                        </select>
                        <div id="partnerTypeHelp" class="form-text">Выбор типа сотрудничества.</div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="productTypeIds" class="form-label">Типы товаров:</label>
                        <select class="form-select" aria-label="ProductType" id="productTypeIds" name="productTypeIds" multiple required>
                            <option th:each="productType : ${productTypes}" th:value="${productType.id}" th:text="${productType.name}"></option>
                        </select>
                        <div id="productTypesHelp" class="form-text">Выбор типа товара.</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>

            </div>
        </div>
    </div>
</div>

<div id="pagination">
    <div th:replace="~{${pagination}}"></div>
</div>
<script>
    $(function() {
        $('#button_saveModal').click(function(e) {
            $('#form').attr('method', 'POST');
        });
        $('#form').submit(function(e) {
            e.preventDefault();

            $.ajax({
                url: $(this).attr('action'),
                method: $(this).attr('method'),
                data: $(this).serialize(),
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                success: function(response) {
                    $('#saveModal').modal('hide');
                    alert("Договор с номером "+response.number+" успешно сохранен.");
                },
                error: function(error) {
                    console.error(error);
                }
            });
        });
    });
</script>