<div class="container mt-1">
    <button id="button_saveModal" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#saveModal">
        Добавить тип сотрудничества
    </button>
</div>
<div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="saveModalLabel">Добавление типа сотрудничества</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form id="form" th:action="@{/partnerType}" th:method="POST">
                    <input type="hidden" name="id" id="id">
                    <legend>Создание типа сотрудничества</legend>
                    <div class="form-group mb-3">
                        <label for="name" class="form-label">Наименование типа:</label>
                        <input type="text" class="form-control" id="name" name="name">
                        <div id="nameHelp" class="form-text">Поле для ввода наименования типа.</div>
                    </div>

                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>

            </div>
        </div>
    </div>
</div>

<div id="pagination">
    <div th:replace="~{${pagination}}"></div>
</div>
<script>
    $(function() {
        $('#button_saveModal').click(function(e) {
            $('#form').attr('method', 'POST');
        });
        $('#form').submit(function(e) {
            e.preventDefault();

            $.ajax({
                url: $(this).attr('action'),
                method: $(this).attr('method'),
                data: $(this).serialize(),
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                success: function(response) {
                    $('#saveModal').modal('hide');
                    alert("Тип сотрудничества "+response.name+" успешно сохранен.");
                },
                error: function(error) {
                    console.error(error);
                }
            });
        });
    });
</script>