<div class="container mt-1">
    <div class="container">
        <h1>Договора</h1>
        <!-- Pagination -->
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li th:each="pageNumber : ${#numbers.sequence(1, paginationPages)}" class="page-item">
                    <a class="page-link" th:href="@{'?page=' + ${pageNumber}}" th:text="${pageNumber}"></a>
                </li>


                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
        <!-- Contract Listing -->
        <ul class="list-group">
            <li class="list-group-item" th:each="paginationData : ${paginationsData}">
                <div class="row">
                    <div class="col-6 col-sm-10" th:text="${paginationData.number}"></div>
                    <div class="col-6 col-sm-1">
                        <form th:action="@{'/agreement/' + ${paginationData.id}}" method="PUT">
                            <button type="submit" class="btn btn-info p-1 btn-edit">
                                <svg fill="#000000" width="25px" height="25px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M22,7.24a1,1,0,0,0-.29-.71L17.47,2.29A1,1,0,0,0,16.76,2a1,1,0,0,0-.71.29L13.22,5.12h0L2.29,16.05a1,1,0,0,0-.29.71V21a1,1,0,0,0,1,1H7.24A1,1,0,0,0,8,21.71L18.87,10.78h0L21.71,8a1.19,1.19,0,0,0,.22-.33,1,1,0,0,0,0-.24.7.7,0,0,0,0-.14ZM6.83,20H4V17.17l9.93-9.93,2.83,2.83ZM18.17,8.66,15.34,5.83l1.42-1.41,2.82,2.82Z"/></svg>
                            </button>
                        </form>
                    </div>
                    <div class="col-6 col-sm-1">
                        <form th:action="@{'/agreement/' + ${paginationData.id}}">
                            <button type="submit" class="btn btn-danger p-1 btn-delete">
                                <svg fill="#000000" width="25px" height="25px" viewBox="0 0 36 36" version="1.1"  preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <title>trash-line</title>
                                    <path class="clr-i-outline clr-i-outline-path-1" d="M27.14,34H8.86A2.93,2.93,0,0,1,6,31V11.23H8V31a.93.93,0,0,0,.86,1H27.14A.93.93,0,0,0,28,31V11.23h2V31A2.93,2.93,0,0,1,27.14,34Z"></path><path class="clr-i-outline clr-i-outline-path-2" d="M30.78,9H5A1,1,0,0,1,5,7H30.78a1,1,0,0,1,0,2Z"></path><rect class="clr-i-outline clr-i-outline-path-3" x="21" y="13" width="2" height="15"></rect><rect class="clr-i-outline clr-i-outline-path-4" x="13" y="13" width="2" height="15"></rect><path class="clr-i-outline clr-i-outline-path-5" d="M23,5.86H21.1V4H14.9V5.86H13V4a2,2,0,0,1,1.9-2h6.2A2,2,0,0,1,23,4Z"></path>
                                    <rect x="0" y="0" width="36" height="36" fill-opacity="0"/>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>
<script>
    $(function() {
        $('.page-link').on('click', function(e) {
            e.preventDefault();
            const page = parseInt($(this).text());
            updatePage(page-1);
        });
        $(".btn-delete").click(function(e) {
            e.preventDefault();

            let form = $(this).closest("form");
            let action = form.attr("action");

            $.ajax({
                url: action,
                method: "DELETE",
                success: function(response) {
                    form.closest("li").remove();
                },
                error: function(error) {
                    alert("Произошла ошибка при удалении элемента.");
                }
            });
        });
        $('.btn-edit').click(function(e) {
            e.preventDefault();
            let form = $(this).closest("form");
            let action = form.attr("action");
            $.get(action, function(data) {
                $('#form').attr('method', 'PUT');
                $('#id').val(data.id);
                $('#number').val(data.number);
                let date = new Date(data.dateConclusion);
                let formattedDate = date.toISOString().split('T')[0];
                $('#date').val(formattedDate);
                $('#partnerTypeId').val(data.partnerType.id);
                let productTypeIds = [];
                data.productTypes.forEach(productType => {
                    productTypeIds.push(productType.id);
                });
                $('#productTypeIds').val(productTypeIds);
                $('#saveModal').modal('show');
            });
        });
    });

    function updatePage(page) {
        $.ajax({
            url: "agreementPagination",
            method: 'GET',
            data: { page: page, limit: 10 },
            success: function(data) {
                $('#pagination').html(data);
            },
            error: function(error) {
                console.log(error);
            }
        });
    }

</script>